html, body {
	margin: 0;
	height: 90%;
	box-sizing: border-box;
}
.content {
	width: 80%;
	margin: 0 auto;
	padding-top: 20px;
}

li {
	list-style-type: none;
}

#urlres {
	word-wrap: break-word;
}

.error {
	color: red;
}

@media(max-width: 1000px) {
	.content {
		width: 100%;
	}
	img.kappapride {
		display: none;
	}
}

.sliderval {
	min-width: 300px;
	width: 50%;
	position: relative;
}

.footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: white;
}

.header {
	top: 0px;
	width: 100%;
	background-color: #ffff99;
	padding: 8px;
}

h1, h2, h3 {
	margin: 0;
}

img.kappapride {
	position: absolute;
	right: 0;
	bottom: 10px;
	padding: 0;
}

.footer img {
	padding: 0;
	height: 20px;
	vertical-align: middle;
}

a, a:visited, a:hover, a:active {
	text-decoration: none;
	color: #66757f;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}

.box {
	margin-bottom: 5px;
}

.content > :last-child {
	margin-bottom: 50px;
}

md-select.inlineselect {
	margin: 0;
	display: inline-block;
}

.rightbutton {
	float: right;
	margin: 0;
	padding 0;
}

.smallbutton {
	margin: 0;
}

.closedialog {
	margin: auto;
	display: block;
}

div.inline {
	display: inline-block;
}

.blurry-text {
	color: transparent;
	text-shadow: 0 0 5px rgba(0,0,0,0.1);
	letter-spacing: -0.5em;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.loading {
	height: 100%;
}

div.twocolumn {
	min-width: 300px;
}